### Question 1

In [4]:
# a) calculation of the volume of a sphere v
import math
pi=math.pi
r=10
V=4/3*pi*r**3
print('The volume of the sphere is:',V)

The volume of the sphere is: 4188.790204786391

In [7]:
# b) Calculation of volume of a cylinder
import math
pi=math.pi
r=14 #radius
h=12 #height
V=math.pi*r**2*h
print('The volume of the cylinder is:',V)

The volume of the cylinder is: 7389.025921243193

In [8]:
# c) Density of a cone
import math
pi=math.pi
mass=4.77 #mass in kg where 1kg= 1000g
M=4.77*1000 #mass in grams
r=14
h=20
V=1/3*math.pi*r**2*h
dens=M/V #Density
print('density in (g/cm):',dens)

density in (g/cm): 1.161993487573991

### Question 2

In [12]:
#part (a)
type(4188.790204786391)

float

In [13]:
# part (b)
type(7389.025921243193)

float

In [14]:
# part (c)
type(1.161993487573991)

float

### Question 3

In [15]:
# part (a)
int(4188.790204786391)

4188

In [16]:
# part (b)
int(7389.025921243193)

7389

In [17]:
# part (c)
int(1.161993487573991)

1

### Question 4

a) Calculate the taxable income

In [19]:
# tax limits and rates
band_1=10164
band_2=19740
band_3=29316
band_4=38892

rate_1=10/100
rate_2=15/100
rate_3=20/100
rate_4=25/100
rate_5=30/100

taxable_income=2108
total_taxable_income=(band_4)+(taxable_income)
print(total_taxable_income)

41000

b) Calculate tax payable

In [20]:
# Compute the amount of tax_payable by the employee for that month
income = float(input("Enter the income:"))
if income < band_1:
    tax_payable = rate_1 * band_1
elif income < band_2:
    tax_payable = rate_1 * band_1 + rate_2 * (band_2 - band_1)
elif income < band_3:
    tax_payable = rate_1 * band_1 + rate_2 * (band_2 - band_1) + rate_3 * (band_3 - band_2)
elif income < band_4:
    tax_payable = rate_1 * band_1 + rate_2 * (band_2 - band_1) + rate_3 * (band_3 - band_2) + rate_4 * (band_4 - band_3)
else:
    tax_payable = rate_1 * band_1 + rate_2 * (band_2 - band_1) + rate_3 * (band_3 - band_2) + rate_4 * (band_4 - band_3) + \
                 rate_5 * taxable_income
print(tax_payable)

Enter the income:41000
7394.4

In [21]:
# a tax_relief of 1162 is given on the tax_payable
tax_relief=1162
net_tax_payable=tax_payable - float(tax_relief)
print(net_tax_payable)

6232.4

c) calculation of employee's net pay

In [24]:
# calculation of net_pay
house_allowance=15000
cop_cont=5/100*(total_taxable_income-house_allowance)
net_pay=total_taxable_income-net_tax_payable-cop_cont
print(net_pay)

33467.6

### Question 5

In [19]:
name=input('What is your name?')
age=int(input('How old are you?'))
if age>18:
    print('Congrats {} of age {}, you are eligible for voting'.format(name,age))
else:
    print('Sorry {} of age {}, you are not eligible for voting'.format(name,age))

What is your name?Agnes
How old are you?25
Congrats Agnes of age 25, you are eligible for voting

### Question 6

In [8]:
buyer=int(input('Enter the quantity'))
cost=100
discount=10/100
totalcost=buyer*cost
if totalcost>1000:
    print(totalcost-totalcost*discount)
else:
    print(totalcost)

Enter the quantity100
9000.0

### Question 7

In [10]:
yos=int(input('Enter time of service in years'))
sal=int(input('What is your salary?'))
bonus=5/100*sal
if yos>5:
    print(bonus)
else:
    print(salary)

Enter time of service in years10
What is your salary?35000
1750.0

### Question 8

In [9]:
marks=int(input('Enter your marks'))
if marks<25:
    print("F")
elif marks>=25 and marks<45:
    print("E")
elif marks>=45 and marks<50:
    print("D")
elif marks>=50 and marks<60:
    print("C")
elif marks>=60 and marks<80:
    print("B")
else:
    print("A")

Enter your marks65
B

### Question 9

In [18]:
noh=int(input('Enter number of classes held'))
noa=int(input('Enter number of classes attended'))
attendance=(noa/noh)*100
if attendance<75:
    print('You are not allowed to sit in exam')
else:
    print('You are allowed to sit in exam')

Enter number of classes held20
Enter number of classes attended15
You are allowed to sit in exam